body {
    background-color: rgb(150, 23, 54);
    font-family: monospace;
}

.

.resume {
    background-color: blue;
}

.header {

}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(189, 200, 255);  
    font-style: italic;
}

#button {
    border: none;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(221, 132, 191);
    padding: 5px;
    border-radius: 10px;
}
