body, ul, li, h1, h2, h3 { /* removes default browser css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #571310;
    font-family: 'Verdana', sans-serif;
    padding: 20px;
}

/* LAYOUT */
.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #a72913;
    min-width: 1800px;
    max-width: 1800px;
    gap: 20px;
    padding: 5px;
    margin: 0 auto;
}

.header { 
    color: #faa994;  
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.main-container {
    display: flex;
    gap: 20px;
}

.middle {
    flex-grow: 1;
    border-bottom: 5px solid #571310;
    background-color: #fcd3c5; 
}

.updates {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    border: 5px solid #571310
}

.footer {
    display: flex;
    flex-direction: row;
    color:#faa994;
    font-weight: bold;
}

/* NAVIGATION */ 
.top-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    color: #fcd3c5;
    padding: 5px; 
    cursor: pointer;
}

.top-nav-button:hover {
    color: #faa994;
}

.top-nav {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    margin: auto;
}

.sidebar {
  display: flex;
  flex-shrink: 0; /* no shrinking*/
  flex-direction: column; /* vertical display -> column */
  border-radius: 10px;
  background: #faa994;
  color: #571310;
  width: 250px;
  padding: 10px;
  gap: 5px; /* between rows and columns... */
}

.side-nav-link {
    text-decoration: none;
    color: #571310;
}

.side-nav-link:hover {
    color: #a72913;
}

/* COMPONENTS */
.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2px;
}

.button {
    border: none;
    border-radius: 4px;
    font-weight: bold;
}
.content-header {
    color: #571310;
    font-weight: bold;
}

.scrollable {
    overflow-y: scroll;
}

.text {
    color: #571310;
    font-size: 18px;
}

.centered {
    margin: 0 auto;
}
