body, ul, li, h1, h2, h3 { /* removes default browser css */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #0d0e20;
    font-family: monospace;
    font-weight: 500;
    padding: 20px;
    width: 100%
}

/* COMPONENTS */
.content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
}

.button {
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.scrollable {
    overflow-y: scroll;
}

.text {
    color: #0d0e20;
    font-size: 20px;
}

.centered {
    margin: 0 auto;
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-border {
    width: 100%;
    border-style: solid;
    border-image: url(images/main-content-border.png) 80 round;
    border-image-width: 30px;
    border-image-slice: 80;
    box-sizing: border-box;
    padding: 50px;
    background-color: #fefeea;

}

/* HEADERS */
.header { 
    color: #fefeea;  
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: auto;
}

.content-header {
    color: #0d0e20;
    font-weight: bold;
}

.sidebar-header {
    color: #0d0e20;
    font-weight: bold; 
}

/* NAVIGATION */ 
.top-nav {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    margin: auto;
}
.top-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
    color: #fefeea;
    padding: 5px; 
    cursor: pointer;
}

.top-nav-button:hover {
    color: #9e0232;
}

.sidebar {
  display: flex;
  flex-shrink: 0; /* no shrinking */
  flex-direction: column; /* vertical display -> column */
  width: 300px;
  gap: 20px; /* between rows and columns... */
  box-sizing: border-box;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-image: url(images/sidebar-border.png) 60 stretch;
    border-image-width: 60px;
    border-image-slice: 60;
    background-color: #fefeea;
    height: 300px;
    padding: 60px;
    box-sizing: border-box;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-image: url(images/sidebar-border.png) 60 stretch;
    border-image-width: 60px;
    border-image-slice: 60;
    background-color: #fefeea;
    height: 300px;
    padding: 60px;
    box-sizing: border-box;
}

.side-nav-button {
    text-decoration: none;
    color: #0d0e20;
    font-size: 25px;
    padding: 5px;
}

.side-nav-button:hover {
    color: #9e0232;
}

/* CORE LAYOUT */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    background-color: #9e0232;
    gap: 20px;
    padding: 5px;
    margin: 0 auto;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    box-sizing: border-box;
}

.middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 50px;
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color:#0d0e20;
    font-weight: bold;
}

/* SPECIAL PAGES */
.updates {
    display: flex;
    flex-direction: column;
    max-height: 500px;
}

.art {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 25px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 50%;
    width: 30%;
}
