body, ul, li, h1, h2, h3 { /* removes default browser css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    font-family: monospace;
    font-weight: 500;
    padding: 20px;
}

.art {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 20px;
}

/* HEADERS */
.header { 
    color: #ffffff;  
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.content-header {
    color: #000000;
    font-weight: bold;
}

.sidebar-header {
    color: #000000;
    font-weight: bold; 
}

/* NAVIGATION */ 
.top-nav {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    margin: auto;
}
.top-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px; 
    cursor: pointer;
}

.top-nav-button:hover {
    color: #a12d47;
}

.sidebar {
  display: flex;
  flex-shrink: 0; /* no shrinking */
  flex-direction: column; /* vertical display -> column */
  width: 300px;
  gap: 20px; /* between rows and columns... */
  box-sizing: border-box;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-image: url(images/sidebar-border.png) 60 stretch;
    border-image-width: 60px;
    border-image-slice: 60;
    background-color: #ffffff;
    height: 300px;
    padding: 60px;
    box-sizing: border-box;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-image: url(images/sidebar-border.png) 60 stretch;
    border-image-width: 60px;
    border-image-slice: 60;
    background-color: #ffffff;
    height: 300px;
    padding: 60px;
    box-sizing: border-box;
}

.side-nav-button {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.side-nav-button:hover {
    color: #a12d47;
}

/* CORE LAYOUT */
.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ffffff;
    min-width: 1800px;
    max-width: 1800px;
    gap: 20px;
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    box-sizing: border-box;
}

.middle {
    display: flex;
    min-width: 1150px;
    border-style: solid;
    border-image: url(images/main-content-border.png) 80 round;
    border-image-width: 80px;
    border-image-slice: 80;
    background-color: #ffffff;
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color:#000000;
    font-weight: bold;
}

/* SPECIAL PAGES */
.updates {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    border-top: 5px double #000000;
    border-bottom: 5px double #000000;
    margin: 0 auto 30px auto;
    max-width: calc(100% - 80px);
    box-sizing: border-box;
}

/* COMPONENTS */
.content {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 10px;
    /*min-width: 0;*/
    overflow-y: scroll;
}

.button {
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.scrollable {
    overflow-y: scroll;
}

.text {
    color: #000000;
    font-size: 18px;
}

.centered {
    margin: 0 auto;
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}
