body, ul, li, h1, h2, h3 { /* removes default browser css */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7b6b4;
    font-family: monospace;
    font-weight: 500;
    padding: 20px;
    width: 100%
}

/* COMPONENTS */
.content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: 2px solid #faf8e5;
    border-radius: 10px;
    background-color: #faf8e5;
    padding: 10px;
    width: 90%;
    height: auto;
    box-sizing: border-box
}

.button {
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.scrollable {
    overflow-y: scroll;
}

.footer-text {
    color: #0d0e20;
    font-size: 20px;
    padding-left: 10px; 
}

.text {
    color: #202a44;
    font-size: 20px;
}

.centered {
    margin: 0 auto;
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

.content-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/cherry-blossom.jpg");
    border: 5px solid #8fc1de;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: auto; 
    padding: 20px;
    box-sizing: border-box;
}

.blinkies {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
}

.links {
    text-decoration: none;
}

/* HEADERS */
.site-header { 
    color: #9e0232;  
    border-radius: 10px;
    text-align: center;
    font-size: 45px;
    margin: auto;
}

.content-header {
    color: #0d0e20;
    font-weight: bold;
}

.sidebar-header {
    color: #0d0e20;
    font-weight: bold; 
}

/* NAVIGATION COMPONENTS */
.top-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
    color: #9e0232;
    padding: 10px; 
    cursor: pointer;
}

.top-nav-button:hover {
    color: #781727;
}

.sidebar-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    flex-shrink: 0; /* no shrinking */
    border: 5px solid #8fc1de;
    border-radius: 10px;
    background-image: url("../images/cherry-blossom.jpg");
    background-size: cover;
    background-position: center;
}

.nav-images {
    display: flex;
    flex-direction: row;
    overflow-x: wrap;
}

.nav-doors {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    padding: 0;
}

/* NAVIGATION */ 
.top-nav {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    margin: auto;
}

.sidebar {
  display: flex;
  flex-shrink: 0; /* no shrinking */
  flex-direction: column; /* vertical display -> column */
  gap: 20px; /* between rows and columns... */
  box-sizing: border-box;
}

.left-sidebar {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-style: 2px solid #faf8e5;
    border-radius: 5px;
    background-color: #faf8e5;
    padding: 10px;
}

.right-sidebar {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 2px solid #faf8e5;
    border-radius: 5px;
    background-color: #faf8e5;
    padding: 5px;
}

/* CORE LAYOUT*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    background-color: #b6d7ea;
    gap: 20px;
    padding: 5px;
    margin: 0 auto;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    box-sizing: border-box;
}

.middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 50px;
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color:#0d0e20;
    font-weight: bold;
}

/* SPECIAL PAGES */
.updates {
    display: flex;
    flex-direction: column;
    max-height: 400px;
}

.art {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 25px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 350px;
    text-decoration: none;
}
