body, ul, li, h1, h2, h3 { /* removes default browser css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #571310;
    font-family: 'Verdana', sans-serif;
    padding: 20px;
}

/* header */
.header {
    text-align: center;
    padding: 5px;
    color: #faa994;
    
}

/* main */
.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #a72913;
    max-width: 1000px;
    gap: 20px;
    padding: 5px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.updates {
    height: 200px;
    color: #571310;
    font-weight: bold; 
}

/* navigation */ 
.top-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    font-size: 20px;
    color: #faa994;
    padding: 5px; 
    cursor: pointer;
}

.top-nav {
    display: flex;
    justify-content: center;
    border: 5px solid #571310;
    border-radius: 10px;
    background-color: #571310;
    width: 90%;
    padding: 5px;
    margin: auto;
}

.side-nav-link {
    text-decoration: none;
    color: #571310;
}

.side-nav-link:hover {
    color: #a72913;
}

/* components */
.sidebar {
  display: flex;
  flex-shrink: 0; /* no shrinking*/
  flex-direction: column; /* vertical display -> column */
  background: #faa994;
  color: #571310;
  width: 150px;
  gap: 5px; /* between rows and columns... */
}

.panel {
    border: 2px solid #a72913;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

.button {
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 5px solid #571310;
    background-color: #fcd3c5;
    padding: 10px;
}

.content-header {
    color: #571310;
    font-weight: bold;
}

.scrollable {
    overflow-y: scroll;
}
