body, ul, li, h1, h2, h3 { /* removes default browser css */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f49345;
    font-family: monospace;
    font-weight: 500;
    padding: 20px;
    width: 100%
}

/* COMPONENTS */
.text {
    color: #202a44;
    font-size: 20px;
}

.button {
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
}

.content-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/hubble deep space.jpg");
    border: 5px solid #a280b1;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 100%; /* need this to use justify content */
}

/* HEADERS */
.site-header { 
    color: #202a44;  
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: auto;
}

/* NAVIGATION COMPONENTS */
.top-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
    color: #202a44;
    padding: 5px; 
    cursor: pointer;
}

.sidebar-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    flex-shrink: 0; /* no shrinking */
    border: 5px solid #d08a9b;
    border-radius: 10px;
    background-image: url("../images/cherry-blossom.jpg");
    background-size: cover;
    background-position: center;
}

/* NAVIGATION */
.top-nav {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    margin: auto;
}

.sidebar {
  display: flex;
  flex-direction: column; /* vertical display -> column */
  gap: 20px; /* between rows and columns... */
  box-sizing: border-box;
}

.left-sidebar {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row; 
    padding: 10px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}

.right-sidebar {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row; 
    padding: 5px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
}

/* LAYOUT */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    background-color: #9e0232;
    gap: 20px;
    padding: 10px;
    margin: 0 auto;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    box-sizing: border-box;
}

.middle {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}
